template
  button.btn(
    if.bind="type === 'button'"
    class="btn-${look}"
  ) 
    i(class="fa ${icon}")  ${title}
  a.btn(
    if.bind="type === 'link'"
    href.bind="href"
    target.bind="target"
    class="btn-${look}"
  )
    i(class="fa ${icon}")  ${title}
