template
	require(from="./general-info")
	.content_container(scrolltop.bind="scrollTop" scroll.trigger="handleScrollEvent($event)")
		.main_content_outer.d-flex.flex-xl-row.flex-column.align-items-start.justify-content-start
			general-info
			.main_content
				.main_title_container.d-flex.flex-column.align-items-start.justify-content-end
					.main_subtitle ${data.subtitle}
					.main_title ${data.title}
				.main_content_scroll.mCustomScrollbar(data-mcs-theme="minimal-dark")
					.skills(style="padding-top:10px; padding-bottom: 30px;")
						div.progress_bars(repeat.for="content of data.contents")
							.general_info_title(id="${content.id}") ${content.generalTitle}
							.container-fluid
								.row
									.col-xl-4.col-lg-6.pb_col(repeat.for="i of content.bars.length")
										.pb_item
											.title
												span ${content.bars[i].subtitle} ${content.bars[i].title}
											.skill_bars(id.bind="content.id + '_' + i + '_pbar'")